
# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio temporary files
.vs/

# Rider
.idea/

# Visual Studio Code
.vscode/

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# ASP.NET Core
wwwroot/lib/
/BookStore.Web/appsettings.Development.json
